default:
    suites:
        product_application:
            contexts:
                - App\Tests\Behat\Application\ProductContext
            filters:
                tags: "@product_catalog && @application"

    extensions:
        FriendsOfBehat\SymfonyExtension: null
